PORT=5000 
URL_CLIENT = http://localhost:3000/

# DATABASE 
MONGODB_URL=mongodb+srv://phandat1662004:0905375764@cluster0.x2roq.mongodb.net/clothes?retryWrites=true&w=majority&appName=Cluster0
MONGODB_EXPRIES_REFRESHTOKEN=432000

# CLOUDINARY 
CLOUD_NAME=dyu8qcp5g
CLOUD_API_KEY=787583858973348
CLOUD_API_SECRET=HvWi3UJivhlowPGMZcxKtsXgcbA

# JWT
 SECRET_KEY_ACCESSTOKEN="dat-accessToken"
 SECRET_KEY_REFRESHTOKEN="dat-refreshToken"
 EXPIRES_ACCESSTOKEN=86400
 EXPIRES_REFRESHTOKEN=2592000
 
# Email
AUTH_EMAIL =bombebong1406@gmail.com
AUTH_PASS =rpvp yube hwuy unzv
